/.idea/misc.xml
/.idea/ip_redistribution.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/text_ip_output.txt
/text_ip_input.txt
/.idea/vcs.xml
